.abtbackgrnd {
    background-color: #1c1c1c;
    color: white;
    height: 490px;
    width: auto;
    padding: 100px 0px;
}

.abtheader {
    font-size: 52px;
    font-family: 'Unica One', cursive;
    margin: 20px 0px 0px;
    padding: 0px 0px 10px;
    text-align: center;
}

.abttext1 {
    font-family: 'Unica One', cursive;
    font-size: 32px;
    margin: 20px 0px 10px;
    max-width: 555px;
}

.abttext2 {
    color: rgb(94, 141, 215);
    font-size: 22px;
    font-family: 'Unica One', cursive;
    margin: 20px 0px 10px;
    padding: 0px 0px 4px;
    max-width: 555px;
}

.abttext3 {
    color: rgb(168, 160, 149);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin: 0px 0px 10px;
    max-width: 555px;
}

.imgsize {
    width: 263px;
    
}